aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
arabic-reshaper
asgiref>=3.7,<4.0
asn1crypto
async-timeout
attrs
Brotli
certifi
cffi
charset-normalizer
colorama
cryptography==42.0.1
Django>=4.2,<5.0
docopt
et-xmlfile
exceptiongroup
fonttools
freetype-py
frozenlist
geographiclib
geopy
gunicorn
hijridate
holidays
idna
iniconfig
lxml
markupsafe
multidict
num2words
numpy
openpyxl
oscrypto
packaging
pandas
pdfkit
pdfminer-six
pdfplumber
pillow
pluggy
propcache
psycopg2-binary>=2.9.9
pycairo
pycparser
PyJWT
pypdf
pypdfium2
pytest
python-bidi
python-dateutil
python-decouple
python-http-client
pytz
pyyaml
qrcode
reportlab==3.6.15
requests
sendgrid
six
sqlparse
svglib
tinyhtml5
tomli
twilio
typing-extensions
tzdata
tzlocal
uritools
urllib3
webencodings
werkzeug
whitenoise
# Use pinned xhtml2pdf to avoid pyhanko dependency
xhtml2pdf==0.2.10
yarl
zopfli
