{% extends 'layout.html' %}
{% block content %}
<a href="{% url 'mapping_create' %}" class="btn btn-success mb-3">+ Assign Transport</a>
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>Student</th>
            <th>Vehicle</th>
            <th>Pickup</th>
            <th>Drop</th>
            <th>Fee</th>
        </tr>
    </thead>
    <tbody>
        {% for m in mappings %}
        <tr>
            <td>{{ m.student.name }}</td>
            <td>{{ m.transport.vehicle_no }}</td>
            <td>{{ m.pickup_stop.stop_name }}</td>
            <td>{{ m.drop_stop.stop_name }}</td>
            <td>{{ m.transport_fee }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
