{% extends 'layout.html' %}
{% block content %}
<h2>{% if chapter %}Edit{% else %}Add{% endif %} Chapter</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <h4>Contents:</h4>
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
        <tr><td>{{ form.as_p }}</td></tr>
        {% endfor %}
    </table>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'chapter_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
